<md-content flex layout="row" layout-align="center center" layout-padding layout-margin>

    <div flex="70" layout="column" class="bullet-list">
        <h2>Ποιοί είμαστε</h2>

        <p>O Upnloud δημιουργεί και στήνει το πρώτο Flea Market & Street Food. Μια γιορτή που θα γίνεται σε διαφορετικό
            μέρος κάθε φορά, 4 φορές το χρόνο και ευελπιστούμε να γίνεται ακόμα και κάθε εβδομάδα!</p>

        <p>Έχουμε όρεξη να δείξουμε στον κόσμο την ευκαιρία να ανταλλάξει πράγματα, να μάθει την εναλλακτική χρήση
            παλιών αντικειμένων, να μάθει την αξία του παλιού και τη χαρά να το μεταποιείς σε κάτι νέο. Να διασκεδάζουν
            όλοι μαζί, γνωρίζοντας νέες κουλτούρες μέσω της γεύσης (street food), τα παιδιά να γίνονται ενεργά
            (workshops, outdoor games), να ανοίξουμε τα μάτια μας για τα προβλήματα γύρω μας (ευαισθητοποίηση για τους
            έχοντες ανάγκη: βοήθεια σε αστέγους, μετανάστες, αδέσποτα ζώα).</p>

        <p>Τί θα περιλαμβάνει το Flea Market:</p>
        <ul>
            <li>Ανοιχτή αγορά με δίσκους, ρούχα, υποδήματα, κατασκευές, ηλεκτρικές συσκευές, έργα τέχνης, παιχνίδια</li>
            <li>Street food: Γεύσεις από διάφορα σημεία του κόσμου</li>
            <li>Workshops & Παρουσιάσεις βιβλίων για τα παιδιά</li>
            <li>Χώρος για οργανώσεις για την ενημέρωση του προσφυγικού και συλλογής αγαθών για πρόσφυγες και αστέγους</li>
            <li>Μουσικές εκδηλώσεις με DJs</li>
            <li> Bar & Chill Zone</li>
            <li>Χώρος για τις φιλοζωϊκές για ενημέρωση και διάθεση αδέσποτων ζώων</li>
        </ul>

        <p class="kt-bold">Η είσοδος στους επισκέπτες θα είναι ελεύθερη</p>


        <h3 class="dimgrey">Media partners</h3>
        <md-divider></md-divider>

        <md-grid-list
                md-cols-xs="2" md-cols-sm="4" md-cols-md="6" md-cols-gt-md="8"
                md-row-height-gt-md="1:1" md-row-height="1:1"
                md-gutter="12px" md-gutter-gt-sm="8px" >

            <md-grid-tile class="gray">
                <a href="http://www.tsafaris.com" target="_blank">
                <img src="http://www.logodesignlove.com/images/evolution/7up-logo-2014.jpg" style="width: 70%; height:70%; margin: auto; display: block;"/>
                </a>
                <!--<md-grid-tile-footer>-->
                    <!--<h3>#1: (3r x 2c)</h3>-->
                <!--</md-grid-tile-footer>-->
            </md-grid-tile>

            <md-grid-tile class="gray">
                <a href="http://www.tsafaris.com" target="_blank">
                    <img src="http://www.logodesignlove.com/images/evolution/7up-logo-2014.jpg" style="width: 70%; height:70%; margin: auto; display: block;"/>
                </a>
            </md-grid-tile>

            <md-grid-tile class="yellow">
                <md-grid-tile-footer>
                    <h3>#3: (1r x 1c)</h3>
                </md-grid-tile-footer>
            </md-grid-tile>

            <md-grid-tile class="blue">
                <md-grid-tile-footer>
                    <h3>#4: (2r x 1c)</h3>
                </md-grid-tile-footer>
            </md-grid-tile>

            <md-grid-tile class="red">
                <md-grid-tile-footer>
                    <h3>#5: (2r x 2c)</h3>
                </md-grid-tile-footer>
            </md-grid-tile>

            <md-grid-tile class="green">
                <md-grid-tile-footer>
                    <h3>#6: (2r x 1c)</h3>
                </md-grid-tile-footer>
            </md-grid-tile>
        </md-grid-list>


        <h3 class="dimgrey">Supporters</h3>
        <md-divider></md-divider>
        <md-grid-list
                md-cols-xs="2" md-cols-sm="4" md-cols-md="6" md-cols-gt-md="8"
                md-row-height-gt-md="1:1" md-row-height="1:1"
                md-gutter="12px" md-gutter-gt-sm="8px" >

            <md-grid-tile class="gray">
                <md-grid-tile-footer>
                    <h3>#1: (3r x 2c)</h3>
                </md-grid-tile-footer>
            </md-grid-tile>

            <md-grid-tile class="green">
                <md-grid-tile-footer>
                    <h3>#2</h3>
                </md-grid-tile-footer>
            </md-grid-tile>

            <md-grid-tile class="yellow">
                <md-grid-tile-footer>
                    <h3>#3: (1r x 1c)</h3>
                </md-grid-tile-footer>
            </md-grid-tile>
        </md-grid-list>


        <h3 class="dimgrey">Social partners</h3>
        <md-divider></md-divider>
        <md-grid-list
                md-cols-xs="2" md-cols-sm="4" md-cols-md="6" md-cols-gt-md="8"
                md-row-height-gt-md="1:1" md-row-height="1:1"
                md-gutter="12px" md-gutter-gt-sm="8px" >

            <md-grid-tile class="gray">
                <md-grid-tile-footer>
                    <h3>#1: (3r x 2c)</h3>
                </md-grid-tile-footer>
            </md-grid-tile>

            <md-grid-tile class="green">
                <md-grid-tile-footer>
                    <h3>#2: (1r x 1c)</h3>
                </md-grid-tile-footer>
            </md-grid-tile>

            <md-grid-tile class="yellow">
                <md-grid-tile-footer>
                    <h3>#3: (1r x 1c)</h3>
                </md-grid-tile-footer>
            </md-grid-tile>
        </md-grid-list>


        <h3 class="dimgrey">Street food</h3>
        <md-divider></md-divider>
        <md-grid-list
                md-cols-xs="2" md-cols-sm="4" md-cols-md="6" md-cols-gt-md="8"
                md-row-height-gt-md="1:1" md-row-height="1:1"
                md-gutter="12px" md-gutter-gt-sm="8px" >

            <md-grid-tile class="gray">
                <md-grid-tile-footer>
                    <h3>#1: (3r x 2c)</h3>
                </md-grid-tile-footer>
            </md-grid-tile>

            <md-grid-tile class="green">
                <md-grid-tile-footer>
                    <h3>#2: (1r x 1c)</h3>
                </md-grid-tile-footer>
            </md-grid-tile>

            <md-grid-tile class="yellow">
                <md-grid-tile-footer>
                    <h3>#3: (1r x 1c)</h3>
                </md-grid-tile-footer>
            </md-grid-tile>

        </md-grid-list>
    </div>



</md-content>
