<md-content flex layout="row" layout-align="center center" layout-padding layout-margin>

    <div flex="70" layout="column" class="bullet-list kt-justify">
        <h2 style="align-self: center;">ΕΙΜΑΣΤΕ Η ΟΜΑΔΑ ΤΟΥ UPNLOUD</h2>


        <p>Το πρώτο Flea Market στη Θεσσαλονίκη θα διοργανωθεί από την ομάδα του Upnloud, μια ομάδα που τα τελευταία
        8 χρόνια δραστηριοποιείται με τη δημιουργία συναυλιών και φεστιβάλς όχι μόνο στη Θεσσαλονίκη, αλλά σε όλη την Ελλάδα.</p>

        <p>Η αγάπη μας για τη μουσική, μας οδήγησε στην ανάγκη να δημιουργήσουμε τα δικά μας events, τα οποία προσπαθούμε
        να παρουσιάζουμε με τα δικά μας standards. Δωρεάν ή «μικρή» τιμή εισόδου, φτηνά ποτά και φαγητό, όρεξη για ανάδειξη
        νέων καλλιτεχνών και προσπάθεια να προωθούμε έναν πολιτισμό που περιορίζεται...</p>

        <p>Πλέον νιώθουμε την ανάγκη να δημιουργήσουμε και να προσφέρουμε στην πόλη μας κάτι που νιώθουμε
        ότι λείπει και θα βοηθήσει να αλλάξει η κοντόφθαλμη νοοτροπία.</p>

        <p>
            Έχουμε όρεξη να δείξουμε στον κόσμο την ευκαιρία να ανταλλάξει πράγματα, να μάθει την εναλλακτική χρήση
            παλιών αντικειμένων, να μάθει την αξία του παλιού και τη χαρά να το μεταποιείς σε κάτι νέο. Να διασκεδάζουν
            όλοι μαζί, γνωρίζοντας νέες κουλτούρες μέσω της γεύσης (street food), τα παιδιά να γίνονται ενεργά (action -
            outdoor games), να ανοίξουμε τα μάτια μας για τα προβλήματα γύρω μας (ευαισθητοποίηση για τους έχοντες
            ανάγκη: βοήθεια σε αστέγους, μετανάστες, αδέσποτα ζώα).
        </p>

        <p>Τί θα περιλαμβάνει το Flea Market:</p>
        <ul>
            <li>Ανοιχτή αγορά με δίσκους, ρούχα, υποδήματα, κατασκευές, ηλεκτρικές συσκευές, έργα τέχνης, παιχνίδια</li>
            <li>Street food: στόχος είναι η προσέλκυση και η συμμετοχή επαγγελματιών ή ερασιτεχνών μαγείρων με διάθεση
                και
                όρεξη να γνωρίσουμε όσες το δυνατόν περισσότερες γεύσεις
            </li>
            <li>Βρεφονηπιακός σταθμός για φύλαξη και παιχνίδι με τα παιδιά</li>
            <li>Μουσικές εκδηλώσεις με DJs και συγκροτήματα</li>
            <li>Μπαρ</li>
            <li>Χώρος για οργανώσεις για την ενημέρωση του προσφυγικού και συλλογής αγαθών για πρόσφυγες και αστέγους
            </li>
            <li>Χώρος για τις φιλοζωϊκές για ενημέρωση και διάθεση αδέσποτων ζώων</li>
        </ul>

        <p class="kt-bold">Η είσοδος στους επισκέπτες θα είναι ελεύθερη</p>

        <p>Γνωρίζουμε ότι η ιδέα μας δεν είναι πρωτότυπη, η διαφορά είναι το πώς φανταζόμαστε εμείς ένα Flea Market…
        Μια γιορτή που θα γίνεται 4 φορές το χρόνο, πάντα σε συμβολικούς για την πόλη χώρους και με καινούργια στοιχεία κάθε φορά.</p>


        <h2 style="align-self: center;">Υποστηρικτές</h2>
        <p>ΕΔΩ ΘΑ ΜΠΟΥΝ ΛΟΓΚΟΣ ΑΠΟ ΤΟΥΣ ΥΠΟΣΤΗΡΙΚΤΕΣ</p>
    </div>


</md-content>
