<md-content flex layout="row" layout-align="center center" layout-padding class="about-top-padding">

    <div flex="70" flex-xs="100" layout="column" class="bullet-list">

        <h2 class="md-title">24-25 Σεπτέμβρη 2016, Πολυχώρος Μύλος</h2>

        <p class="md-body-1 kt-justify">O Upnloud δημιουργεί το πρώτο <i>Flea Market & Street Food SKG</i> με όραμα να καθιερώσει μια εβδομαδιαία γιορτή γεύσεων και ανταλλαγής αντικειμένων στην Θεσσαλονίκη.
            Στην πρώτη συνάντηση οι επισκέπτες έρχονται σε επαφή με την εναλλακτική χρήση αντικειμένων, μαθαίνουν την αξία του παλιού και νιώθουν
            τη χαρά να το μεταποιείς σε κάτι νέο. Γνωρίζουν νέες κουλτούρες μέσω της γεύσης (street food) ενώ τα παιδιά γίνονται ενεργά (workshops, outdoor games).
            Ενημερώνονται για κοινωνικά προβλήματα και βοηθάνε ασθενείς κοινωνικές ομάδες όπως άστεγους, μετανάστες και αδέσποτα ζώα.</p>

        <h2 class="md-subhead">Τί θα περιλαμβάνει το πρώτο <i>Flea Market & Street Food SKG</i>:</h2>

        <ul class="md-body-1 kt-justify">
            <li>Ανοιχτή αγορά με δίσκους, ρούχα, υποδήματα, κατασκευές, ηλεκτρικές συσκευές, έργα τέχνης, παιχνίδια</li>
            <li>Street food: Γεύσεις από διάφορα σημεία του κόσμου</li>
            <li>Workshops & Παρουσιάσεις βιβλίων για τα παιδιά</li>
            <li>Χώρος για οργανώσεις για την ενημέρωση του προσφυγικού και συλλογής αγαθών για πρόσφυγες και αστέγους
            </li>
            <li>Μουσικές εκδηλώσεις με DJs</li>
            <li> Bar & Chill Zone</li>
            <li>Χώρος για τις φιλοζωϊκές για ενημέρωση και διάθεση αδέσποτων ζώων</li>
        </ul>


        <!--<h2 class="md-headline">Ποιοί είμαστε</h2>-->

        <!--<p class="md-body-1">O Upnloud δημιουργεί και στήνει το πρώτο Flea Market & Street Food. Μια γιορτή που θα γίνεται σε διαφορετικό-->
            <!--μέρος κάθε φορά, 4 φορές το χρόνο και ευελπιστούμε να γίνεται ακόμα και κάθε εβδομάδα!</p>-->

        <!--<p class="md-body-1">Έχουμε όρεξη να δείξουμε στον κόσμο την ευκαιρία να ανταλλάξει πράγματα, να μάθει την εναλλακτική χρήση-->
            <!--παλιών αντικειμένων, να μάθει την αξία του παλιού και τη χαρά να το μεταποιείς σε κάτι νέο. Να διασκεδάζουν-->
            <!--όλοι μαζί, γνωρίζοντας νέες κουλτούρες μέσω της γεύσης (street food), τα παιδιά να γίνονται ενεργά-->
            <!--(workshops, outdoor games), να ανοίξουμε τα μάτια μας για τα προβλήματα γύρω μας (ευαισθητοποίηση για τους-->
            <!--έχοντες ανάγκη: βοήθεια σε αστέγους, μετανάστες, αδέσποτα ζώα).</p>-->

        <!--<h2 class="md-title">Τί θα περιλαμβάνει το Flea Market:</h2>-->
        <!--<ul class="md-body-1">-->
            <!--<li>Ανοιχτή αγορά με δίσκους, ρούχα, υποδήματα, κατασκευές, ηλεκτρικές συσκευές, έργα τέχνης, παιχνίδια</li>-->
            <!--<li>Street food: Γεύσεις από διάφορα σημεία του κόσμου</li>-->
            <!--<li>Workshops & Παρουσιάσεις βιβλίων για τα παιδιά</li>-->
            <!--<li>Χώρος για οργανώσεις για την ενημέρωση του προσφυγικού και συλλογής αγαθών για πρόσφυγες και αστέγους-->
            <!--</li>-->
            <!--<li>Μουσικές εκδηλώσεις με DJs</li>-->
            <!--<li> Bar & Chill Zone</li>-->
            <!--<li>Χώρος για τις φιλοζωϊκές για ενημέρωση και διάθεση αδέσποτων ζώων</li>-->
        <!--</ul>-->

        <!--<h3 class="md-title">Η είσοδος στους επισκέπτες θα είναι ελεύθερη</h3>-->
        <br/>

        <h3 class="dimgrey">Media partners</h3>
        <md-divider></md-divider>

        <md-grid-list
                md-cols-xs="4" md-cols-sm="6" md-cols-md="6" md-cols-gt-md="8"
                md-row-height-gt-md="1:1" md-row-height="1:1"
                md-gutter="12px" md-gutter-gt-sm="40px">

            <md-grid-tile ng-repeat="logo in aboutCtrl.logosMediaUrl track by $index">
                <a ng-href="{{logo}}" target="_blank" ng-mouseenter="active=true" ng-mouseleave="active=false"
                   ng-class="active ? 'active-logo' : 'logo'">
                    <img ng-src="assets/img/logos/mediaPartners/{{$index}}.jpg"/>
                </a>
            </md-grid-tile>

        </md-grid-list>


        <h3 class="dimgrey">Supporters</h3>
        <md-divider></md-divider>

        <md-grid-list
                md-cols-xs="4" md-cols-sm="6" md-cols-md="6" md-cols-gt-md="8"
                md-row-height-gt-md="1:1" md-row-height="1:1"
                md-gutter="12px" md-gutter-gt-sm="40px">

        <md-grid-tile ng-repeat="logo in aboutCtrl.logosSupportersUrl track by $index">
                <a ng-href="{{logo}}" target="_blank" ng-mouseenter="active=true" ng-mouseleave="active=false"
                   ng-class="active ? 'active-logo' : 'logo'">
                    <img ng-src="assets/img/logos/supporters/{{$index}}.jpg"/>
                </a>
            </md-grid-tile>

        </md-grid-list>


        <h3 class="dimgrey">Social partners</h3>
        <md-divider></md-divider>

        <md-grid-list
                md-cols-xs="4" md-cols-sm="6" md-cols-md="6" md-cols-gt-md="8"
                md-row-height-gt-md="1:1" md-row-height="1:1"
                md-gutter="12px" md-gutter-gt-sm="40px">

            <md-grid-tile ng-repeat="logo in aboutCtrl.logosSocialUrl track by $index">
                <a ng-href="{{logo}}" target="_blank" ng-mouseenter="active=true" ng-mouseleave="active=false"
                   ng-class="active ? 'active-logo' : 'logo'">
                    <img ng-src="assets/img/logos/socialPartners/{{$index}}.jpg"/>
                </a>
            </md-grid-tile>

        </md-grid-list>



        <h3 class="dimgrey">Street food</h3>
        <md-divider></md-divider>

        <md-grid-list
                md-cols-xs="4" md-cols-sm="6" md-cols-md="6" md-cols-gt-md="8"
                md-row-height-gt-md="1:1" md-row-height="1:1"
                md-gutter="12px" md-gutter-gt-sm="40px">

            <md-grid-tile ng-repeat="logo in aboutCtrl.logosStreetFoodUrl track by $index">
                <a ng-href="{{logo}}" target="_blank" ng-mouseenter="active=true" ng-mouseleave="active=false"
                   ng-class="active ? 'active-logo' : 'logo'">
                    <img ng-src="assets/img/logos/streetFood/{{$index}}.jpg"/>
                </a>
            </md-grid-tile>

        </md-grid-list>

    </div>


</md-content>
