<md-content layout="row" layout-xs="column" layout-padding>
    <div flex layout="column" flex-order-xs="1" layout-align="center center">
        <h3>Έμποροι</h3>
        <div>
            <img src="assets/img/records.jpg" class="info-image left"/>
            <p>Εταιρίες και επιχειρηματίες (επαγγελματίες) πραγματοποιούν οι ίδιοι τις πωλήσεις των προϊόντων τους, 
            εκδίδοντας τα αναγκαία παραστατικά (υποχρεωτική έκδοση αποδείξεων) με τη δική τους ταμειακή μηχανή ή με 
            χειρόγραφο μπλοκ αποδείξεων. (τις ταμειακές μηχανές και τα χειρόγραφα μπλοκ τα προσκομίζετε οι ίδιοι. 
            Είστε εξ ολοκλήρου υπεύθυνοι για την έκδοση των αποδείξεων).</p>
        </div>
    </div>


    <div layout="column" layout-align="center center" flex-order-xs="3">
        <md-toolbar class="md-table-toolbar md-default">
            <div class="md-toolbar-tools" layout="row" layout-align="center end">
                <span>Παγκοι</span>
            </div>
        </md-toolbar>

        <md-table-container>
            <table md-table  ng-model="selected" md-progress="promise">
                <thead md-head md-order="query.order" md-on-reorder="getDesserts">
                <tr md-row>
                    <th md-column md-order-by="nameToLower"><span>Πάγκος</span></th>
                    <th md-column md-numeric md-order-by="calories.price"><span>Κόστος</span></th>
                </tr>
                </thead>
                <tbody md-body>
                <tr md-row md-select="merchant" md-select-id="name" md-auto-select ng-repeat="merchant in infoCtrl.merchants">
                    <td md-cell>{{merchant.zone}}</td>
                    <td md-cell>{{merchant.price | currency:"€"}}</td>
                </tr>
                </tbody>
            </table>
        </md-table-container>

    </div>


    <div flex layout="column" layout-align="center center" flex-order-xs="2">
        <h3>Δημιουργοί</h3>
        <div>
            <img src="assets/img/clothes.jpg" class="info-image right"/>
            <p>Οι ιδιώτες πραγματοποιούν υποχρεωτικά τις πωλήσεις τους μέσω των ταμειακών 
            μηχανών της διοργάνωσης (υποχρεωτική έκδοση αποδείξεων). Αυτός είναι και ο μοναδικός τρόπος. 
            Επί των πωλήσεων ισχύει Φ.Π.Α. 24% και χαρτόσημο 3,6%.</p>
        </div>
    </div>
</md-content>
