<md-content layout="row" layout-padding>
    <div flex layout="column" layout-align="center center">
        <h3>Έμποροι</h3>
        <div>
            <img src="assets/img/records.jpg" class="info-image left"/>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum quis leo felis. Quisque scelerisque,
                ligula nec lobortis feugiat, sem tellus finibus arcu, in ultricies augue nisi lobortis odio. Fusce
                facilisis eros felis, nec venenatis leo placerat nec. Maecenas lobortis metus sit amet lectus viverra,
                nec viverra sapien ullamcorper. Fusce tristique sed ex in pretium. Sed id sem rutrum, congue urna in,
                dictum eros. Nullam quam mi, dapibus ut tortor at, accumsan bibendum felis. Praesent bibendum eros dui.
                Sed vulputate in elit ac malesuada. Nam at nisl vitae velit feugiat tincidunt suscipit vel sapien.
                Aliquam suscipit dui et aliquam vulputate. Quisque in dui nunc.</p>
        </div>
    </div>


    <div layout="column" layout-align="end center">
        <md-toolbar class="md-table-toolbar md-default">
            <div class="md-toolbar-tools" layout="row" layout-align="center end">
                <span>Παγκοι</span>
            </div>
        </md-toolbar>

        <md-table-container>
            <!--md-row-select multiple-->
            <table md-table  ng-model="selected" md-progress="promise">
                <thead md-head md-order="query.order" md-on-reorder="getDesserts">
                <tr md-row>
                    <th md-column md-order-by="nameToLower"><span>Σταντ</span></th>
                    <th md-column md-numeric md-order-by="calories.value"><span>Μεγάλο</span></th>
                    <th md-column md-numeric>Μεσαίο</th>
                    <th md-column md-numeric>Μικρό</th>
                </tr>
                </thead>
                <tbody md-body>
                <tr md-row md-select="merchant" md-select-id="name" md-auto-select ng-repeat="merchant in infoCtrl.merchants">
                    <td md-cell>{{merchant.zone}}</td>
                    <td md-cell>{{merchant.big}}</td>
                    <td md-cell>{{merchant.medium}}</td>
                    <td md-cell>{{merchant.small}}</td>
                </tr>
                </tbody>
            </table>
        </md-table-container>

    </div>


    <div flex layout="column" layout-align="center center">
        <h3>Δημιουργοί</h3>
        <div>
            <img src="assets/img/clothes.jpg" class="info-image right"/>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum quis leo felis. Quisque scelerisque,
                ligula nec lobortis feugiat, sem tellus finibus arcu, in ultricies augue nisi lobortis odio. Fusce
                facilisis eros felis, nec venenatis leo placerat nec. Maecenas lobortis metus sit amet lectus viverra,
                nec viverra sapien ullamcorper. Fusce tristique sed ex in pretium. Sed id sem rutrum, congue urna in,
                dictum eros. Nullam quam mi, dapibus ut tortor at, accumsan bibendum felis. Praesent bibendum eros dui.
                Sed vulputate in elit ac malesuada. Nam at nisl vitae velit feugiat tincidunt suscipit vel sapien.
                Aliquam suscipit dui et aliquam vulputate. Quisque in dui nunc.</p>
        </div>
    </div>
</md-content>
