<md-grid-list md-cols-sm="8" md-cols-md="4" md-cols-lg="8" md-cols-gt-lg="12" md-row-height="4:3" md-gutter="8px">
    <md-grid-tile
            ng-repeat="tile in infoCtrl.gallery"
            md-colspan-gt-sm="1"
            md-rowspan-gt-sm="1">
        <img ng-src="{{tile.path}}" style="width: 100%; height: 100%;"/>
    </md-grid-tile>
</md-grid-list>

<p>Flea Market Thessaloniki Schedule</p>

<section layout="column">
    <div class="timeline" layout="row" layout-align="space-between center">
        <md-button ng-click="goBack();"><</md-button>

        <div flex class="events" layout="row">
            <ol layout="row">
                <li ng-repeat="event in infoCtrl.events">
                    <a ng-click="infoCtrl.goTo($index)" update-filling ng-class="{'selected': $index == infoCtrl.selectedEvent}"
                       ng-style="{'left': event.left}">{{event.date}}</a>
                </li>
            </ol>

            <span id="filling" class="filling-line" aria-hidden="true"></span>
        </div>

        <md-button ng-click="goFor();">></md-button>
    </div>

    <div class="events-content">
        <ol>
            <li ng-repeat="event in infoCtrl.events" ng-show="$index == infoCtrl.selectedEvent">
                <h2>Short Description</h2>
                <em>{{event.date}}</em>
                <p>{{event.desc}}</p>
            </li>
        </ol>
    </div> <!-- .events-content -->
</section>
