<ul layout="row" class="gallery">
    <li ng-repeat="image in infoCtrl.gallery">
        <a ng-click="openLightboxModal($index)">
            <img ng-src="{{image.url}}" class="img-thumbnail">
        </a>
    </li>
</ul>


<h3 layout="row" layout-align="center">Flea Market Thessaloniki Schedule</h3>
<section layout="column">
    <div class="timeline" layout="row" layout-align="space-between center">
        <!-- <md-button class="md-icon-button" ng-click="infoCtrl.goTo(infoCtrl.selectedEvent-1);"><</md-button> -->

        <div flex class="events" layout="row">
            <ol layout="row">
                <li ng-repeat="event in infoCtrl.events">
                    <a ng-click="infoCtrl.goTo($index)" update-filling
                       ng-class="{'selected': $index == infoCtrl.selectedEvent}"
                       ng-style="{'left': event.left}">
                       <p class="event-date">{{event.date}}</p>
                   </a>
                </li>
            </ol>

            <span id="filling" class="filling-line" aria-hidden="true"></span>
        </div>

        <!-- <md-button class="md-icon-button" ng-click="infoCtrl.goTo(infoCtrl.selectedEvent+1);">></md-button> -->
    </div>

    <div class="events-content">
        <ol>
            <li ng-repeat="event in infoCtrl.events" ng-show="$index == infoCtrl.selectedEvent"
                layout="row" layout-align="center start">

                <div flex="40">
                    <img ng-src="{{event.img}}" class="event-picture"/>
                </div>
                <div flex flex-offset="5">
                    <div>Milestone Name</div>
                    <em>{{event.date}}</em>
                    <p>{{event.desc}}</p>
                </div>
            </li>
        </ol>
    </div>
</section>
