<md-content flex layout="row" layout-align="center center">
    <div flex="60" flex-xs="100" layout="column" layout-padding class="over-fab-trigger">
        <h3 ng-if="$mdMedia('xs')" style="align-self: center;">ΜΙΛΑ ΜΕ ΤΗΝ ΟΜΑΔΑ</h2>
        <h2 ng-if="$mdMedia('gt-xs')" style="align-self: center;">ΜΙΛΑ ΜΕ ΤΗΝ ΟΜΑΔΑ</h3>
        <p>
            Αν εχεις απορια στειλε μηνυμα και μπλα μπλα
        </p>

        <form novalidate name="contactForm" ng-submit="">
            <md-content layout="column">
                <md-input-container class="md-block md-accent">
                    <label for="name">Το όνομά σου</label>
                    <input
                            ng-model="person.name"
                            type="text"
                            name="name"
                            id="name"
                            required/>
                    <div ng-messages="contactForm.name.$error">
                        <p ng-message="required">* Ξέχασες να συμπληρώσεις το όνομά σου!</p>
                    </div>
                </md-input-container>

                <md-input-container class="md-block md-accent" layout="column">
                    <label for="email">Το email σου (για να σου απαντήσουμε)</label>
                    <input
                            ng-model="person.email"
                            type="email"
                            name="email"
                            id="email"
                            required/>
                    <div ng-messages="contactForm.email.$error">
                        <p ng-message="email">* Μάλλον έχεις κάνει κάποιο λάθος στην ηλεκτρονική σου διεύθυνση!</p>
                        <p ng-message="required">* Ξέχασες να συμπληρώσεις την ηλεκτρονική σου διεύθυνση!</p>
                    </div>
                </md-input-container>

                <md-input-container class="md-block md-accent">
                    <label for="message">Η ερώτησή σου</label>
            <textarea
                    ng-model="person.message"
                    name="message"
                    id="message"
                    md-maxlength="150"
                    rows="3"
                    required>
            </textarea>
                    <div ng-messages="contactForm.message.$error">
                        <p ng-message="required">* Μάλλον ξέχασες τι θέλεις να μας πεις!</p>
                        <p ng-message="md-maxlength">* Το μέγιστο μήκος του μηνύματος είναι 150 χαρακτήρες!</p>
                    </div>
                </md-input-container>

            </md-content>

            <md-input-container layout="row" layout-align="end center">
                <md-button class="md-raised md-primary" type="submit">ΑΠΟΣΤΟΛΗ</md-button>
            </md-input-container>
        </form>
    </div>

</md-content>
